.load-more-btn {
  font-size: 16px;
  color: white;

  padding: 12px 20px;

  border: none;
  border-radius: 21px;
  background-color: var(--light-black);

  margin-bottom: 80px;

  cursor: pointer;
  outline: none;

  transition: background-color 200ms linear;
}

.load-more-btn:hover,
.load-more-btn:focus {
  background-color: rgb(255, 0, 0);
}

.load-more-btn.is-hidden {
  display: none;
  /* Временно удаляет элемент из документа. Занимаемое им место не резервируется и веб-страница формируется так, словно элемента и не было. */

  /* opacity: 0; // определяет уровень прозрачности элемента, 0 - прозрачный, 1 - видимый */
  /* visibility: hidden; // элемент становится прозрачным, но продолжает участвовать в форматировании страницы. */
}
